<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do</title>
</head>
<body>
    <form method="POST" action="/submittodoitem">
        <input type="text" name="itemName" placeholder="Item Name" />
        <textarea name="itemDescription" placeholder="Item Description"></textarea>
        <input type="text" name="itemId"placeholder="Item Id">
        <input type="text" name="itemUUID"placeholder="Item UUID">
        <input type="text" name="itemHash"placeholder="Item Hash">
        <button type="submit">Submit</button>
    </form>

</body>
</html>